html {
    overflow-x: hidden;
}

body {
    margin: 0px;
    background-color: rgb(20, 20, 20);
}

h1 {
    margin: 24px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', Arial;
    font-size: 50px;
}

h2 {
    color: white;
    font-family: 'Trebuchet MS', Arial;
    font-size: 25px;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr, th {
    color: white;
    font-family: 'Trebuchet MS', Arial;
    font-size: 25px;
    border: 1px solid white;
}

img {
    border-radius: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 85%;
}

@media only screen and (max-width: 1250px) {
    p {
      margin: 0 50px;
    }
}
